body {
  font-family: Arial, sans-serif;
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 50px;
  font-size: 2rem;
  color: hsl(0, 0%, 30%);
}

.color-display {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

p {
  color: hsl(0, 0%, 30%);
  font-size: 2rem;
  text-align: center;
}
